article.weather-container
  height: auto

  &:after
    clear: both
    content: ''
    display: table

.container
  margin: 0 auto
  overflow: hidden
  position: relative
  width: 320px
  
#recommendations
  line-height: 1
  -webkit-transition: left .5s ease-in
  -moz-transition: left .5s ease-in
  transition: left .5s ease-in
  overflow: hidden
  padding: 40px 0 0
  position: relative
  width: 300%
  
  &:after
    clear: both
    content: ''
    display: table
    
  
  &.car 
    left: 0
    
    .best
      display: none
    
    .car .best
      display: inline
  
  &.train
    left: -100%
    
    .best
      display: none
    
    .train .best
      display: inline
    
  &.bike
    left: -199.9%
    
    .best
      display: none
    
    .bike .best
      display: inline

  section.recommendation
    color: #998F84
    float: left
    position: relative
    text-align: center
    width: 33.3%
    
    &.bike
      width: 33.4%
  
    h3
      color: inherit
      font-size: 10px
      text-transform: uppercase
    
    .transportation
      height: 100px
      padding: 10px 0
      text-align: center
      margin: 0 auto -120px auto
      position: relative
      width: 210px
      z-index: 999
    
      h3
        margin: 0 0 5px 0
        
      img
        max-width: 98px
      
    .transport_bg
      margin: 0 0 -1px 0
      position: relative
      width: 210px
      z-index: 99
    
    .items
      background: transparent url(/assets/transparent-white.png)
      padding: 20px 0
      
      img
        max-width: 100%
    
      h3
        background: url(/assets/bring-that-line.gif) no-repeat center center
        margin: 0 auto
        width: 280px
      
      ul
        list-style: none
        margin: 0 auto
        width: 320px
      
        &:after
          clear: both
          content: ''
          display: table
      
        li
          margin: 10px 20px
          float: left
          width: 65px
        
          .caption
            font-size: 11px
            text-transform: lowercase
            
@media screen and (min-width: 480px)
  body.weather_recommendation 
    
    .container
      width: 440px
      
    p.desc_info
      width: 400px
    
    article.weather-container
      margin: 0 20px
      padding: 20px
      width: 360px
      
      .weather
        width: 180px
  
  #recommendations section.recommendation .items 
    h3
      width: 400px
    
    ul
      width: 440px
    
      li
        margin: 15px 40px
